/* @override http://www-dev.centerpointe.com/wp-content/themes/kallyas/style.css */

/*
Theme Name: Kallyas
Theme URI: http://hogash-demo.com/kallyas_wp/
Description: A Highly customizable theme with page builder and unlimited colors.
Author: Hogash
Author URI: http://themeforest.net/user/hogash
Version: 2.5
Tags: dark, light, left-sidebar, right-sidebar, fixed-width, custom-background, custom-colors, custom-header, custom-menu,  editor-style, full-width-template, theme-options, translation-ready
License: GNU General Public License
License URI: license.txt
*/

/* PAGE STYLES */
html .home {}
html .home #page_wrapper,
html .page #page_wrapper,
html .blog #page_wrapper,
html .single #page_wrapper {
	border: none;
	max-width: 960px !important;
}
.canvas {=
	background: #fff;
}
body {
	background: #EFEFEF;
}
h1, h2, h3, h4, h5, h6 {
	color: #005893;
}
p {
	color: #000000;
}
h2 {
	line-height: 1.1em !important;
	font-weight: normal;
}
h3 {
	color: #000;
	margin-top: 0;
	line-height: 1.5em !important;
}
table {
	border-bottom: none !important;
}
td {
	border-top: none !important;
	color:#000 !important;
}
body, p, td, li {
	font-size: 16px !important;
}
a {
	color: #005893;
}
a:hover {
	color: #ae2320;
}
small {
	font-size: 80%;
	display: inline-block;
	line-height: 140%;
	padding: 4px 0 20px 0;
}
.zn_content a {
	font-weight: bold;
	color: #005489;
	text-decoration: underline;
}
.zn_content a:hover {
}
#site_logo {
	background: url('/wp-content/themes/kallyas/images/top-page-whiteflap.png');
	position: absolute;
	top: -40px;
	left:364px;
	margin:0 auto;
	display: block;
	width: 241px;
	height: 157px;
	z-index: 500 !important;
}
#site_logo img {
	width: 170px;
	position: relative;
	top:0px;
	margin: 0 auto;
	display: block;
	outline: none !important;
	border: none !important;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* HEADER STYLES */
#page_wrapper #header {
	padding:0;
	margin: 0;
	width: 100%;
	height: 145px;
	border-bottom: 4px solid #c2dcec;
	background-color: #fff;
	background-position: 30px 25px;
	background-repeat: no-repeat;
	position: relative;	
}
#page_wrapper.no-nav #header {
	height: 186px;
	display: none;
}
#page_wrapper #page_header {
	background: #fff;
	width: 100%;
}
#logo {
	/*display: none;*/
	background: #fff;
	margin-top: 10px;
	margin-left: 10px;
}
#logo a {
	background: #fff !important;
	border: 0 !important;
	padding: 0 !important;
}
#logo a:after {
	display: none;
}
#header.style2 .container h3 {
	margin-left: 0;
	padding-left: 10px;
}

/* NAVIGATION */
#main_menu {
	padding: 0 !important;
	margin-top: 0;
	padding-top: 0;
	background: #005893;
	height: 25px;
}
nav {
	clear: both;
	width: 100%;
	background: green;
	position: absolute;
	bottom:0;
	left: 0;
}
nav ul {
	padding-left: 27px !important;
	background: #005a92;
	margin-top: 0 !important;
	margin-bottom: 0;
}
nav ul li a {
	display: inline-block;
	border-radius: 0;
	background: url('/wp-content/themes/kallyas/images/nav-border.jpg') right -2px no-repeat transparent !important;
	padding: 2px 13px 1px 13px !important;
	vertical-align: middle !important;
	text-transform: uppercase;
	margin-top: 0 !important;
	font-size: 13px !important;
}
nav ul li:last-child a {
	background: none !important;
}
#main_menu nav ul li a:hover {
	background: url('/wp-content/themes/kallyas/images/nav-border.jpg') right -2px no-repeat transparent !important;
	color: #ADCCE0 !important;
}
nav ul#menu-main-menu li a:hover {
	color: #ADCCE0 !important;
}
nav ul li:last-child a:hover {
	background: none !important;
	color: #ADCCE0 !important;
}

#menu-top-nav {
	position: absolute;
	top: 0;
	right: 0;
}
.topnav {
	padding: 15px 5px;
}
.topnav:first-child {
	display: none;
}
#menu-top-nav li {
	border-right: 1px solid #005a92;
	height: 13px;
	margin-left: 0;
}
#menu-top-nav li:last-child {
	border-right: none;
}
#menu-top-nav li a {
	color: #005a92;
	font-weight: bold;
	text-transform: uppercase;
	font-size: .6em;
	display: inline-block !important;
	padding: 0 !important;
	margin: 0 !important;
	height: 20px;
	padding: 0 14px 0 14px !important;
	position: relative;
	top:-6px;
	border: none;
}
#menu-top-nav li a:visited {
	color: #005a92;
	font-weight: bold;
}
.chaser {
	margin: 0 auto;
	max-width: 960px;
	background: rgba(36,110,157,.8);
	top: -1px;
}
.chaser ul {
	margin: 0 15px;
}
.chaser ul li a {
	color: #fff !important;
}
.chaser ul li a:hover {
	background: rgba(36,110,157,.9) !important;	
}


/* CONTENT STYLES */
#page_wrapper #content {
	background: #fff;
	margin-top: 0;
}
#page_wrapper #content {
	width: 100%;
}
#page_wrapper #content .container {
	padding: 0;
	margin: 0 auto;
	width: 99.5%;
	margin-left: 0px;
}
.mainbody {
	width: 960px;
}
.mainbody .row {
	padding: 0;
	margin: 0;
}
.mainbody .row .span12 {
	padding: 40px 0px 0px 0px;
	margin: 0 auto !important;
	left: 0 !important;
	right: 0 !important;
	width: 100%;
}
.mainbody .row .span12 h1, h2, h3, p {
	padding: 0 110px;
}
.mainbody .row .span12 blockquote {
	margin: 0 0 0 110px;
}
.mainbody .row .span12 table td blockquote {
	margin: 0 0 0 0;
}
.mainbody .row .span12 table td p {
	padding-left: 0;
	padding-right: 0;
}
.mainbody .row .span12 h1 {
	margin-bottom: 25px;
}
.mainbody .row .span12 h1 div {
	padding-top: 25px;
}
.mainbody .row .span12 h1 div span {
	font-weight: 300;
	font-size: 70%;
	color: #000;
	line-height: 1.1em !important;
	display: block;
	padding-top: 15px;
}
.mainbody .row .span12 h2:first-child {
	position: relative;
	left: -30px;
	color: #000;
	display: inline-block;
}
.mainbody .row .span12 > .su-quote {
	margin: 0 110px;
}
.mainbody .row .span12 table td {
	line-height: 1.5em !important;
	padding-top: 12px;
	padding-bottom: 12px;
}
.mainbody .row .span12 table h3 {
	margin: 0 !important;
	padding: 0 !important;
	line-height: 1em !important;
}
.mainbody blockquote {
	margin-left: 40px;
}
.mainbody blockquote p {
	padding-left: 10px;
}
.mainbody .su-tabs-nav,
.mainbody .su-tabs {
	max-width: 800px;
	display: block;
	margin: 0 auto;
}
.mainbody table {
	margin: 0 100px 30px 100px;
	width: auto;
}

/* FOOTER STYLES */
#page_wrapper #footer {
	background: #08456A;
	padding:0;
	margin: 0;
	border-top: 1px solid #fff;
}
#footer .row .bottom {
	border-top: none;
	padding-bottom: 100px;
}
#footer .row a strong {
	color: #4C83AB !important;
}
#footer .row a:hover strong {
	color: #ae2320 !important;
}
.bottom {
	height: 0px;
}
.fixclear {
	padding-top: 20px !important;
}
.copyright p {
	font-size: .9em !important;
	color:#fff;
	margin-left: 30px;
	line-height: 1.5em;
	margin-bottom: 25px;
	margin-top: 0px;
	padding-top: 0;
}
.copyright a img {
	padding-bottom: 40px;
}



/* CUSTOM STYLE TO THEME */

.zn_content {
	/*padding: 40px 0px 0 60px;*/
	/*margin-left: 10px;*/
	max-width: 760px;
	background: #fff;
}
.span7.zn_content,
.span9.zn_content {
	max-width: 570px;
	margin-right: 0;
}
.zn_content p,
.mainbody .row .span12 p {
	font-size: 15px;
	line-height: 1.7em;
	margin-bottom: 1.3em;
}
.zn_def_header_style {
	display: none;
}
.container {
	margin:0 auto;
	padding: 0 10px;
}
.zn_content ul {
	color: #000;
	margin-left: 0;
}
.zn_content ul li {
	margin-bottom: 10px;
	line-height: 160%;
}
.zn_content ul li ul {
	padding-top: 15px;
	padding-bottom: 5px;
}
.zn_content ul li ul li {
	list-style: circle;
	font-size: 14px !important;
}

/* CUSTOM PADDING TO NO-MARGIN TEMPLATE */

.no-nav header {
	height: 120px !important;
	border-bottom: 3px solid #005893 !important;
}
.zn_content.no-padding  {
	padding:0 !important;
}
.span12.zn_content {
	max-width: 960px;
	margin-right: 0;
	padding-top: 0 !important;
}
.span12.zn_content table {
	margin: 0;
}
.span12.zn_content.no-padding {
	max-width: 960px;
	margin-right: 0;
}
.span12.zn_content.no-padding table {
	margin: 0;
}
.span12.zn_content.no-padding table input {
	padding: 10px 20px;
}
.span12.zn_content table .moonray-form-input-type-text input,
.span12.zn_content table .moonray-form-input-type-email input {
	padding: 15px 10px !important;
}
.moonray-form-input-type-select div {
	text-align: left !important;
}
.moonray-form-element-wrapper.moonray-form-input-type-select div {
	background: #E4E9EF !important;
}
.instr p img {
	position: relative;
	top: -0px !important;
}

/* CUSTOM AD BLOCKS */

.top-ad {
	position: absolute;
	top: -199px;
	right: 0;
	z-index: 100;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.top-ad.dark {
	right: 0;
	top: -216px;	
}
.no-nav .top-ad {
	top: -159px;
}
.content-ad-01 {
	position: relative;
	left: -65px;
}

/* FOOTER AD WIDGET */

.error404 {
	background: #fff;
}
.error404 #page_wrapper {
	max-width: 900px;
}
.error404 header {
	height: 130px !important;
}
.error404 nav {
	display: none !important;
}
.error404 #footer {
	display: none;
}
.error404 .topnav {
	display: none;
}
.error404-content h3 {
	opacity: 1;
}
#footer .container .row {
	margin-bottom: 0 !important;
}
#footer .container .row:first-child .span12 {
	margin: 0 10px !important;
	max-width: 960px !important;
}
#text-4 {
	margin-bottom: 0;
}
#text-4 img {
	border-bottom: 1px solid #fff;
}
#text-10 div {
	padding: 25px;
	font-family: "Open Sans" , "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 180%;
}
#text-10 div strong {
	font-size: 1.5em;
	color: #005893;
	display: block;
	padding-bottom: 10px;
}
.social-icons {
	padding-top: 0 !important;
}
.social-icons .title {
	display: none;
}

/* CUSTOM TO RIGHT-COLUMN */
.widgettitle {
	display: none;
}
.span3 {
	width: auto;
}
#sidebar {
	padding-left: 0px;
	padding-right: 10px;
	max-width: 350px;
	background: transparent;
	position: relative;
	right: -10px;
}
#sidebar blockquote {
	border-left: none;
	text-align: center;
	font-style: italic;
	border-top: 1px solid #ccc;
	padding-top: 1.8em;
	margin-top: 30px;
	font-size: 1.2em;
	line-height: 1.3em;
}
#sidebar blockquote footer {
	clear: both;
	display: inline-block;
	margin-top: 10px;
	font-style: normal;
	text-transform: uppercase;
	color: #005a92;
	font-size: .6em;
}
#sidebar #text-2 h3 {
	font-size: 33px;
	line-height: 1.1em !important;
	font-weight: normal;
	margin-top: 40px;
	color: #005a92;
	margin-bottom: 25px;
}
#sidebar #text-2 ul {
	margin-left: 0 !important;
	padding-left: 0 !important;
}
#sidebar #text-2 ul li {
	line-height: 1.5em;
	list-style: none;
	background: url('/wp-content/themes/kallyas/images/blue-checkmark.png') 0 6px no-repeat;
	padding-left: 25px;
	margin-left: 0;
	margin-bottom: 15px;
}
#sidebar #text-2 ul li span {
	font-size: 140%;
	line-height: 1em;
	display: inline-block;
	width: 100%;
	text-decoration: underline;
	color: #AC2526;
	font-weight: bold;
}
#sidebar #text-2 ul li a {
	color: #005a92;
	font-weight: normal;
	font-size: 20px;
	text-decoration: none;
}

.gray {
	color: #959595;
}

/* CUSTOM BLOG */

.itemContainer {
	padding: 25px 0 0 0 !important;
}
.itemListView {
	position: relative;
	top: -10px;
}
h3.itemTitle {
	font-size: 2em;
	margin-top: 20px;
	padding-right: 10px;
	line-height: 1em !important;
}
h3.itemTitle a {
	text-decoration: none;
}
.itemBody p {
	padding-right: 10px;
}
.itemHeader .post_details {
	margin-left: 110px;
	border-top: none;
	border-bottom: none;
}
.itemReadMore {
	margin-left: 110px;
}
.itemLinks {
	margin-left: 110px !important;
}
.icon-calendar {
	top: -2px;
	position: relative;
}
.eBlog .post_details:before {
	border-bottom: none !important;
}
.eBlog .post_details:after {
	border-bottom: none !important;
}
.textwidget span iframe {
	height: 340px;
}
.page-title {
	color: #005893;
	padding: 30px 0 20px 110px;
}
#respond {
	padding-left: 30px;
}
#commentform .span8 {
	width: 97%;
}
#commentform .span3,
#commentform .span2 {
	width: 97%;
	margin-bottom: 10px;
}

/* CUSTOM MISC */

sup {
	font-size: 40%;
	position: relative;
	top:-1em;
}
#totop {
	display: none;
}

/* CUSTOM PAGES */

.page-id-20 .top-ad {
	display: none;
}
.page-id-1568 .topnav,
.page-id-1912 .topnav {
	display: none;
}


/* CUTOM TOP-LEFT BLOCK */

#text-8 {
	position: absolute;
	top: -200px;
	left: -660px;
	z-index: 1000;
	max-width: 310px;
	height: 140px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

body.boxed #page_wrapper {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
body.boxed #page_wrapper.blankpage {
	box-shadow: none;
	max-width: 810px !important;
	display: block;
	margin: 20px;
}
body.boxed #page_wrapper.blankpage .container {
	max-width: 680px !important;
}
body.boxed #page_wrapper.blankpage .span12 {
	padding: 0;
	max-width: 810px !important;
}

body {
	min-width: 810px !important;	
}

.pp_nav {
	display: none !important;
}
.pp_close {
	right:  -9px !important;
	top: -19px !important;
	z-index: 1000000 !important;
	border: 3px solid #000;
}

/* CUSTOM ONE-PAGE WITH TABLES */

.table-testimonial {
	border: 2px solid #C1C1C1 !important;
	padding: 20px;;
}
.table-testimonial h2 {
	line-height: .7em !important;
}

/* CUSTOM ROLLOVER BUTTONS */

.holosync-rollover {
	display: block;
	max-width: 600px;
	height: 260px;
	background: url('http://www-dev.centerpointe.com/wp-content/uploads/2013/10/try-holosync-001.png') center -20px no-repeat;
	background-size: 100% auto;
}
.holosync-rollover:hover {
	background: url('http://www-dev.centerpointe.com/wp-content/uploads/2013/10/try-holosync-001.png') center -318px no-repeat;
	background-size: 100% auto;
}

.rollover-effect {
	background-size: 100% auto;
	background-position: center top;
}
.rollover-effect span {
	display: inline;
	margin-left: -10000px;
}
.rollover-effect:hover {
	background-position: center bottom;
	
}

/* LIST STYLE */
.checkmark li {
	background: url('http://www-dev.centerpointe.com/wp-content/uploads/2013/08/imageedit_2_5572641402.gif') 0 2px no-repeat;
	list-style: none;
	padding-left: 50px;
	padding-bottom: 10px;
	padding-top: 10px;
	min-height: 25px;
	margin: 0;
	line-height: 1.7em;
}
.list-experts li {
	margin: 0 110px;
	padding-bottom: 25px;
}
.list-experts li ul {
	margin-top: 20px;
}
.list-experts li ul li {
	margin-left: 0;
	padding-bottom: 5px;
}

td {
	/*vertical-align: top;*/
}
.block-right {
	float: right;
	width: 50%;
}
.block-right h3,
.block-right p {
	padding: 0;
}
.su-spoiler {
	margin: 0 110px;
}
.su-spoiler-content p {
	padding: 0 10px;
}
.su-spoiler-content p:last-child {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}
hr {
	background: url('/wp-content/uploads/2013/12/divider-grey.gif');
	height: 100px;
	width: 100%;
	border: none;
}


.blue {
	color: #005893;
}

/* hiding support link */
#open_sliding_panel {
	display: none !important;
}

/* Mobile Navigation */
nav .smooth_menu {
	display: none !important;
}
nav .zn_menu_trigger {
}
nav .zn_menu_trigger {
	background: #005893;
}
nav .zn_menu_trigger a {
	text-transform: uppercase;
	color: yellow;
}
nav#main_menu.smooth_menu {
}
ul#menu-main-menu {
	background: #005893 !important;
	position: relative;
}
ul#menu-main-menu li {
	text-align: center;
}
ul#menu-main-menu li a {
	font-weight: bold !important;
	color:#fff !important;
}
ul#menu-main-menu li:first-child {
}
ul#menu-main-menu li:last-child {
}